<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="UmaxxInternetSuite" verbose="1">
    <test name="Cucumber Runner">
        <classes>
            <class name="org.umaxxtesting.runner.Runnertest"/>
        </classes>
    </test>
</suite>
